doctype html
html
  head
    title  Let's Dance
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/img/logo.png")
          | HDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Classinfo]
        li #[a(href="/contact") ContactUs] 
    block content
    footer#footer
      | Harry's dance academy © 2023 | All rights reserved!
      